/* RESET */
html,body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,fieldset,input { margin: 0; padding: 0; }
h1,h2,h3,h4,h5,h6,pre,code,address,caption,cite,code,em,strong,th { font-size: 1em; font-weight: normal; font-style: normal; }
ul,ol { list-style: none; }
fieldset,img { border: none; }
caption,th { text-align: left; }
table { border-collapse: collapse; border-spacing: 0; }

/* LAYOUT */
.clear { clear: both; }
.clearer { clear: both; display: block; margin: 0; padding: 0; height: 0; line-height: 1px; font-size: 1px; }

img { border: 0; }
img.left { float: left; margin: 2px 20px 16px 0; }
img.right { float: right; margin: 2px 0 16px 20px; }
img.across { margin: 2px 0 16px 0; }
img.flushleft { margin-left: -20px; }
img.flushright { margin-right: -20px; }

/* ================ */
/* = The 1Kb Grid = */     /* 16 columns, 40 pixels each, with 20 pixel gutter */
/* ================ */

.grid_1 { width:40px; }
.grid_2 { width:100px; }
.grid_3 { width:160px; }
.grid_4 { width:220px; }
.grid_5 { width:280px; }
.grid_6 { width:340px; }
.grid_7 { width:400px; }
.grid_8 { width:460px; }
.grid_9 { width:520px; }
.grid_10 { width:580px; }
.grid_11 { width:640px; }
.grid_12 { width:700px; }
.grid_13 { width:760px; }
.grid_14 { width:820px; }
.grid_15 { width:880px; }
.grid_16 { width:940px; }

.column {
	margin: 0 10px;
	overflow: hidden;
	float: left;
	display: inline;
}
.row {
	width: 960px;
	margin: 0 auto;
	overflow: hidden;
}
.row .row {
	margin: 0 -10px;
	width: auto;
	display: inline-block;
}

/* TYPE */
body { font: 12px/18px "Lucida Grande", "Hiragino Kaku Gothic Pro", "ƒqƒ‰ƒMƒmŠpƒS Pro W3", "‚l‚r ‚oƒSƒVƒbƒN",  "Lucida Sans Unicode", Arial, Verdana, sans-serif; background-color:#fff; color:#333; }

a { color: #08c; }
a:link, a:visited, a:active { text-decoration: none; }
a:hover { text-decoration: underline; }
strong, b { font-weight: bold; }
em, i { font-style: italic; }
sup { padding-left: 1px; font-size: 10px !important; font-weight: normal !important; vertical-align: baseline; position: relative; bottom: 0.33em; color: #76797c; _position: static !important; }
abbr { border: 0; }

p { margin-bottom: 18px; }
h1 { font-weight: bold; font-size: 24px; line-height: 36px; margin-bottom: 18px; }
h2 { font-weight: bold; font-size: 16px; line-height: 18px; margin-bottom: 18px; }
h3 { font-weight: bold; font-size: 1em; line-height: 18px; }
h4 { font-weight: bold; font-size: 10px; line-height: 18px; }
p.intro { font-weight: bold; }
.more { text-align: right;}

ul { margin-bottom: 18px; list-style: none outside; }
ol { margin-bottom: 18px; list-style: decimal; margin-left: 2.2em; }
ul.square,
ul.circle { margin-left: 2em; }
ul.square { list-style: square outside; }
ul.circle { list-style: circle outside; }
ul ul.circle,
ul ul.square { margin-top: 4px; margin-bottom: 5px; }
ol.sosumi { margin-left: 0; padding-left: 2em; }

/* for iPhone and iPad */
@media screen and (max-device-width: 480px) {#globalfooter ul.piped a { margin-left: 1em; }}
@media screen and (max-device-width: 1024px) {#globalfooter ul.piped a { margin-left: 1em; }}

/* PRINT */
@media print {
	body, #main, #content { color: #000 !important; }
	a, a:link, a:visited { color: #000 !important; text-decoration:none !important; }
	#tabs, #globalheader, #globalfooter, #directorynav, .noprint, .hide { display: none !important; }
	#main a.pdf, #main a.html, #main a.qt, #main a.ical, #main a.dl, #main a.dmg, #main a.zip, #main a.keynote, #main a.audio { padding-left: 0 !important; background-image: none !important; }
}

/* iPhone */
@media screen and (max-device-width: 480px) { html { -webkit-text-size-adjust: none; } }

#header .links {list-style:none;}
#header .links li {float:left;width:16%}
